td {
    background-color:crimson;
    height:500px;
    width:300px;
    font-family:cursive;
    line-height:17px;
    text-align:center;
    color:indianred;
}
body {
    background-color:rosybrown;
}
div td {
    background-color:azure;
    font-family:sans-serif;
    font-size:18px;
    line-height:11px;
    text-align:justify;
    color:aquamarine;
}
p {
    color:aquamarine;
    background-color:azure;
    font-weight:bold;
    font-family:sans-serif
}
table {
    border-style:dotted;
    color:black;
}