.fool {
    width: 550px;
  margin-left: 90px;
  margin-right: auto;
  overflow: auto;
  padding:10px;
    margin-top: 390px;
}

p {
    color:white; 
}

body {
    background-image: url(http://previews.123rf.com/images/danomyte/danomyte1209/danomyte120900003/15351090-Yelling-woman-Stock-Vector-woman-angry-screaming.jpg)
}