/*Type Selector*/
h1 {
  color: red;
}

/* ID Selector */
#intro {
  background-color: blue;
}

/* Class Selector*/
.tagline {
  color: white;
}

/* Descendant Selector */
article h2 {
  color:grey;
}

article aside p {
  font-size: 20px;
}

p.tagline {
  font-size: 30px;
}