@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
        
* {
    box-sizing: border-box;
    -mox-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

footer a:hover {
    background-color: blue;
    font-size: 95px;
    text-align: center;
    padding-top: 25px;
}

a:hover {
    text-decoration: line-through;
}
        
body {
    background-size: 100%;
    background-color: black;
    color: white; 
    letter-spacing: .03em;
    font-family: 'Josefin Sans', sans-serif; 
}

h1 {
    display: block;
    width: 100%;
    background: blue;
    font-size: 98px;
    z-index: 100;
    color: white;
    position: fixed;
    top: -30px;
}

section {
    width: 100%;
    position: fixed;
    z-index: 100%;
}

section li {
    display: inline-block;
    z-index: 100%;
}

section a {
    text-decoration: none;
    color:white;
    z-index: 100%;
}

.linkHome {
    padding: 10px;
    padding-right: 755px;
}

.linkTypography,
.linkGraphicdesign,
.linkAbout {
    padding: 10px;
    z-index: 100%;
}
        
.text {
    font-size: 75px;
    position: fixed;
    -webkit-transform: rotate(90deg);
    float: right; 
    color: white;
    z-index: 98%;
    right: -150px;
    top: 316px;
    text-decoration: line-through;
    -webkit-text-decoration-color: blue;
    text-decoration-color: blue;
    z-index: -1;
}
        
footer {
    position: fixed;
    right: 25px;
    bottom: 25px;
}
        
footer a {
    text-decoration: none; 
    font-size: 18px; 
    color: white;
    border: 2px solid blue; 
    padding: 2px; 
    padding-top: 5px;
}
        
graphics {
    left: 175px; 
    top: 100px;
    position: absolute;
    z-index: -1;
    text-align: center;
}
        
graphics img {
    width: 500px; 
    position: relative;
    z-index: -1;
}
        
.linkGraphicdesign {
    text-decoration: line-through;
    -webkit-text-decoration-color: blue;
    text-decoration-color: blue;
}

p {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
}