@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
        
* {
    box-sizing: border-box;
    -mox-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

footer a:hover {
    background-color: blue;
    font-size: 95px;
    text-align: center;
    padding-top: 25px;
}

a:hover {
    text-decoration: line-through;
}
        
body {
    background-size: 100%;
    background-color: black;
    color: white; 
    letter-spacing: .03em;
    font-family: 'Josefin Sans', sans-serif; 
}

h1 {
    display: block;
    width: 100%;
    background: blue;
    font-size: 98px;
    z-index: 100;
    color: white;
    position: fixed;
    top: -30px;
}

section {
    width: 100%;
    position: fixed;
    z-index: 100%;
}

section li {
    display: inline-block;
    z-index: 100%;
}

section a {
    text-decoration: none;
    color:white;
    z-index: 100%;
}

.linkHome {
    padding: 10px;
    padding-right: 755px;
}

.linkTypography,
.linkGraphicdesign,
.linkAbout {
    padding: 10px;
    z-index: 100%;
}

graphics {
    position: relative;
    top: 155px;
    z-index: 99%;
}

graphics a {
    text-align: center;
    z-index: 99%;
}
        
.linkAbout {
    text-decoration: line-through;
    -webkit-text-decoration-color: blue;
    text-decoration-color: blue;
}

p {
    max-width: 920px;
    margin: 0 auto;
    text-align: center;
    font-size: 52px;
    padding: 10px;
    color: blue;
    text-decoration: none; 
}

.who {
    max-width: 1120px;
    position: relative;
    text-align: center;
    font-size: 91px;
    margin: 0 auto;
    padding-top: 10px;
    text-decoration: line-through;
    -webkit-text-decoration-color: blue;
    text-decoration-color: blue;
    z-index: -1;
}

.worktogether {
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-size: 16px;
    width: 150px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.worktogether:hover {
    background-color: blue;
    
}

.social {
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-size: 16px;
    width: 150px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.social:hover {
    text-decoration: line-through;
}
